<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Redmart Sinatra</title>

      <!-- <link rel="stylesheet" href="<%= request.base.url %> /css/style.css" media="screen" title="no title" charset="utf-8"/> -->
      <link rel="stylesheet" href="<%= url('css/style.css') %>">

  </head>
  <body>
    <h1>Redmart Sinatra</h1>
    <%= yield %>
  </body>
</html>
