<h3>Register Here</h3>

<form action="index.html" method="post">

    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" name="user[name]" value="">
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input id="address" type="text" name="user[address]" value="">
    </div>

    <input type="button" value="submit">
</form>
