<h3>Add New Product</h3>

<form action="/products" method="post">

    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" name="product[name]" value="">
    </div>

    <div class="form-group">
        <label for="brand">Brand:</label>
        <input id="brand" type="text" name="product[brand_id]" value="">
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <input id="category" type="text" name="product[categories_id]" value="">
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input id="price" type="text" name="product[price]" value="">
    </div>

    <input type="submit" value="Add">
</form>
