<h3>Add New Brand</h3>

<form action="/brands" method="post">

    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" name="brand[name]" value="">
    </div>

    <input type="submit" value="Add">
</form>
